.catagory-banner{
  background: url('../image/hindu\ banner.jpg') no-repeat;
  object-fit:fill;
      height: 600px;
      width: 100%;
      color: black;
  }
  
  
  
  .DharmCard{
      height: 350px;
      width: 350px;
      margin-top: 40px;
  }
  
  
  .outPutCards{
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
     grid-template-columns: auto ,auto;
  }
  
  .paraCatogry{
      position: relative;
      top: 160px;
      color: rgb(238, 28, 9);
  }
  .paraCatogry>p{
      font-size: 24px;
  }
  
  .photo-cat{
      height: 200px;
      width: 200px;
  }
  
  @media only screen and (max-width: 450px) and (min-width: 100px) {
       
      .catagory-banner{
          background: url('../image/hindu\ banner.jpg') no-repeat;
          object-fit:fill;
              height: 600px;
              width: 100%;
          }
          .paraCatogry{
              position: relative;
              top: 80px;
              color: rgb(238, 28, 9);
              font-size: 10px;
          }
          .paraCatogry>p{
              font-size: 14px;
              text-align: justify;
          }
     
          .outPutCards{
              margin-top: 20px;
              display: grid;
              justify-content: space-between;
             grid-template-columns:repeat(1,1fr);
          }
          .DharmCard{
              height: 100%;
              width: 100%;
          }
      
      }
      @media only screen and (max-width: 770px) and (min-width: 451px) {
       
          .catagory-banner{
              background: url('../image/hindu\ banner.jpg') no-repeat;
  
                  height: 600px;
                  width: 100%;
              }
         
              .outPutCards{
                  margin-top: 20px;
                  display: grid;
                  justify-content: space-between;
                 grid-template-columns:repeat(2,1fr);
              }
              .DharmCard{
                  height: 100%;
                  width: 100%;
              }
          }
  
          @media only screen and (max-width: 1000px) and (min-width: 771px) {
       
          
             
                  .outPutCards{
                      margin-top: 20px;
                      display: grid;
                      justify-content: space-between;
                     grid-template-columns:repeat(3,1fr);
                  }
                  .DharmCard{
                      height: 100%;
                      width: 100%;
                  }
              }



/* carousel  */


.myCatorytSwiper {
      margin: 0;
      padding: 0;
        width: 120%;
        height: 110%;
        border-radius: 25px;
        z-index: 200;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
      }
      
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: black;
        border:1.5px solid black;
        border-radius: 25px;
        
        
      }
      
      .swiper-slide img {
        display: block;
        width: 99.5%;
        height: 500px;
        object-fit: fill;
        border-radius: 25px;
    
      }
      
      
      /* .swiper {
        margin-left: auto;
        margin-right: auto;
      } */
      .myCatorytSwiper{
        width: 100%;
      }
  
    /* @media only screen and (max-width: 1080px) and (min-width: 971px) {
      .swiper {
        right: 0%;
       
      }
    }
      @media only screen and (max-width: 1420px) and (min-width: 801px) {
        .swiper {
          right: -30%;
         
        }
    } */