body {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  max-width: 1600px;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  position: relative; /* Add position relative to create a stacking context */
  z-index: 1; /* Set a positive z-index to place it above the black background */
  overflow: hidden; /* Add overflow property to hide overflowing content */
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

@media (min-width: 1600px) {
  .App {
    border-left: solid black;background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    border-right: solid black;
    border-width: 1px;
    box-sizing: border-box;
  }
}

body::before,
body::after {
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;
  width: calc((100% - 1600px) / 2); /* Calculate the width of the black screen on each side */
  background-color: black;
  z-index: 0; /* Set a negative z-index to place the black screen behind the content */
}

body::before {
  left: 0;
}

body::after {
  right: 0;
}