.UnmarriedGroomsbanner{
    height: 300px;
    width: 100%;
    background-color: blueviolet;
    text-align: center;
}



.UnmarriedGroomDivslist{
    display: flex;
    justify-content: space-around;
}

th, td {
    padding: 20px;
  }




  @media only screen and (max-width: 767px) {
    .unmarried-bridess{
        overflow-x: auto;
      }
  }

    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        .unmarried-bridess{
            overflow-x: auto;
          }
    }
 